header{
	width: 100%;
	height: 1045px;
	position: relative;
}
.topHeader{
	background: #008bc7;
	height: 48px;
}
.login{
	height: 100%;
}
.login a{
	color: #fff;
	display: block;
	padding: 12px;
	margin-right: 200px;
}
.bottomHeader{
	width: 100%;
	overflow: hidden;
	background: #20222e;
	position: relative;
	z-index: 1;
}
.logo{
	height: 70%;
	margin-left: 60px;
	padding: 20px;
}
nav{
	float: right;
	height: 100%;
	margin-right: 154px;
}
nav li{
	display: inline-flex;
}
nav a{
	color: #fff;
	padding: 43px;
}
nav a:hover{
	color: #fff;
	background: #20222e;
	border-bottom: 6px solid #edaa3d; 
}
#slider{
	width: 100%;
	height: 998px;
	background: url("../img/slide1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 47px;
}
#contenedorNosotros {
	width: 100%;
	height: 834px;
	background: url(../img/slide2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 35px; 
}
h2,h1,h3{
	font-family: "Montserrat" , sans-serif;
	font-weight: 300;
	color: #FEFEFE;
	font-size: 28px;
}
p{
	font-family: "Montserrat" , sans-serif;
	font-weight: 300;
	color: #FEFEFE;
	font-size: 15px;	
}
#contenedorHistorial{
	width: 100%;
	height: 248px;
	background: #2a3944;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 70px  40px  70px  40px;  
}
#contenedorImagenes{
	width: 80%;
	height: 600px;
	background: #FEFEFE;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; 
	margin-bottom:30px;
}

#aplicasion {
	width: 100%;
	height: 834px;
	background: url(../img/img7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-left: 35px; 
}

.bottomHeader2{
	width: 100%;
	overflow: hidden;
	background: #f0b95f;
	position: relative;
	z-index: 2;
}

}
.footer__top {
    background-color: #2a3944;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

{
#contenedor

}